html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
header {
  padding: 14px 42px;
}
/* estilos para index.html*/
.logo{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contenedor-contenido-pagina {
  margin: 0 auto;
  padding: 21px;
  width: 100%;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 7px 10px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #eee;
}
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #eee;
}
.show {
  display:block;
}
/* estilos para coders.html*/
.div-coder{
  display: inline-block;
  background-color: #FAAE27;
  margin: 30px 0 0 30px;
  padding: 20px 30px;
  border: 1px solid black;
}
/* estilos para logout.html*/
.div-salir-coder{
  width: 100vw;
  height: 100vh;
  background-color: #FAAE27;
  font-size: 50px;
  text-align: center;
  padding: 43vh 0 0 0 ;
}
.boton-volver-inicio{
  display: block;
  margin: 40px auto;
}
